<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="author" content="{{ .Site.Params.author.name }}" />
  <meta name="description" content="{{ .Title }}">
  <meta name="keywords" content="Selenide, Selenium, WebDriver, Test automation, ATDD, concise UI tests, Селенид, Селениум, вебдрайвер, автоматизация тестирования, автотесты, ТДД, АТДД, лаконичные тесты">

  <title>{{ .Title }}</title>

  <link rel="shortcut icon" href="/favicon.ico"/>
  {{ $popup := resources.Get "themes/ingmar/css/magnific-popup.css" | fingerprint }}
  {{ $pygment := resources.Get "themes/ingmar/css/pygment_trac.css" | fingerprint }}
  {{ $styles := resources.Get "themes/ingmar/css/styles.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $popup.RelPermalink }}">
  <link rel="stylesheet" href="{{ $pygment.RelPermalink }}">
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml" />

  <script src="/assets/themes/ingmar/js/scale.fix.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/jquery-ui.min.js"></script>
  <script src="/assets/themes/ingmar/js/jquery.magnific-popup.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  {{ partial "analytics.html" . }}
</head>
<body>
  <h1 style="display: none">{{ .Title }}</h1>
  <div class="head">
    <div class="wrapper">
      <header>

        <a id="selenide-logo" href="/index.html">
          <img src="/images/selenide-logo-big.png" alt="Selenide logo"/>
        </a>

        {{ partial "main-menu.html" . }}
      </header>
    </div>
  </div>

  <div class="main">
    <section>
      {{ block "main" . }}{{ end }}
    </section>
  </div>

  <div class="foot">
    <div class="wrapper">
      <footer>
        <p>
        <div>The project is maintained by</div>
        <a href="https://github.com/codeborne">
          <img src="/images/codeborne-logo.png" width="300" height="49"/></a>
        </p>
      </footer>
    </div>
  </div>

  <script src="/assets/themes/ingmar/js/selenide.org.js?001"></script>
</body>
</html>
