---
layout: default
---
{% include JB/setup %}

<div class="short blog_post_header">
  <div class="wrapper-color-content">
    <h1 style="color: white; font-weight: bold; font-size: 200%;">Селенид поддерживает Украину 🇺🇦</h1>
    <p style="color: white;">В знак солидарности мы просим вас рассмотреть возможность финансовой поддержки таких движений как:</p>

    <div>
      <a style="color: yellow;" href="https://savelife.in.ua/en/donate/">Фонд поддержки украинской армии</a>
    </div>
    <div>
      <a style="padding: 0 1vw; color: yellow;" href="https://my.care.org/site/Donation2">Украинский кризисный фонд</a>
      <a style="padding: 0 1vw; color: yellow;" href="https://support.savethechildren.org/site/Donation2">Фонд "Спасите детей"</a>
    </div>
  </div>
</div>

<div class="wrapper-content blog_post">
  <section>
    <div class="blog_post_content">
      {{ content }}
    </div>
    {% include JB/comments %}
  </section>
</div>
